@import 'global';

.paginat {
    color: $color;

    .active {
        .page-link {
            background-color: $color;
        }
        
    }

    .page-item {
        a {
           color: black;  
        }
    }
}
